pytorch-lightning == 1.2.*, >=1.2.4
tabulate 
hyperopt 
tqdm
pandas 
wandb 
transformers 
ray[tune] 
requests 
torchvision 
pillow  
matplotlib 
validators 
boto3 
torch 
torchvision 
kaggle 
albumentations
papermill 
numpy 
pillow 
