pytorch-lightning==1.6.5
ray_lightning==0.3.0
tabulate 
hyperopt 
tqdm
pandas 
wandb 
transformers 
ray[tune] 
requests 
torchvision 
pillow  
matplotlib 
validators 
boto3 
kaggle 
albumentations
papermill 
numpy 
pillow 
