pytorch-lightning>=1.7.3
tabulate 
hyperopt 
tqdm
pandas 
wandb 
transformers 
ray[tune] 
requests 
torchvision 
pillow  
matplotlib 
validators 
boto3 
kaggle 
albumentations
papermill 
numpy 
pillow 
